* {
  margin: 0;
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
  outline: none;
}

body {
  cursor: url("./images/cursor.png"), auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: url("./images/Aman.jpg");
}

body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}